name: Auto Approve
on: pull_request
jobs:
  auto-approve:
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/auto-approve-action@v2.0.0
        if: |
          github.actor == 'shunkakinoki' ||
          github.actor == 'dependabot[bot]' ||
          github.actor == 'dependabot-preview[bot]' ||
          github.actor == 'imgbot' ||
          github.actor == 'imgbot[bot]'
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
